[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[core]
	excludesfile = $HOME/.gitignore
    editor = vim
[color]
    diff = auto
    status = auto
    branch = auto
[alias]
    ec = config --global -e
	tree = log --graph --decorate --pretty=oneline --abbrev-commit
    watch-tree = "!watch -c -t -n 5 'clear && git fetch origin && git log origin/master --pretty=\"%Cred%h%C(yellow) %<(15,trunc)%an%x09%Cgreen%ar%Creset%x09%<(65,trunc)%s\" --graph --color'"
[push]
	default = matching
[user]
    name = Felipe Rodrigues
    email = lfrs.web@gmail.com
[commit]
    template = ~/.gitmessage
[pull]
    rebase = true

